.datesSearch {
  display: flex;
  justify-content: space-between;
  height: 48px;
  margin-bottom: 30px;
}

input[type="date"] {
  margin-right: 12px;
}

.tabs {
  width: fit-content;
  border-radius: 6px;
  border: 1px solid #D7DBEC;
  margin-bottom: 30px;
}

.tabs button {
  height: 48px !important;
  background-color: transparent;
  padding: 12px 16px;
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: #5A607F;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.25s;
}

.tabs button:hover {
  color: #A1A7C4;

}

.tabs button.active {
  color: #1E5EFF;
  box-sizing: border-box;
  /*border: solid #1E5EFF 2px;*/
  /*border-radius: 6px;*/
}

.tabsactive {
  border: solid #1E5EFF 2px;
  height: 44px;
  /*width: 270px;*/
  border-radius: 6px;
  margin-top: -49px;
  margin-bottom: -1px;
  margin-right: -1px;
}

.greenspan {
  margin-left: 5px;
  font-family: 'Inter', sans-serif;
  min-height: 24px;
  font-size: 14px;
  font-weight: 500;
  color: white;
  background-color: #06A561;
  padding: 3px 8px;
  border-radius: 12px;
}

.grayspan {
  margin-left: 5px;
  font-family: 'Inter', sans-serif;
  min-height: 24px;
  font-size: 14px;
  font-weight: 500;
  color: white;
  background-color: #7E84A3;
  padding: 3px 8px;
  width: 24px;
  border-radius: 12px;
}

.redspan {
  margin-left: 5px;
  font-family: 'Inter', sans-serif;
  min-height: 24px;
  font-size: 14px;
  font-weight: 500;
  color: white;
  background-color: #F0142F;
  padding: 3px 8px;
  border-radius: 12px;
}


input[type="checkbox"]:checked + div {
  /*background-color: #1E5EFF;*/

  /*margin-top: 2px;*/
  width: 20px;
  height: 20px;
  background-image: url("src/assets/icons/checkbox-active.svg");
  border: none;
}

input[type="checkbox"] + div {
  cursor: pointer;
  margin-right: 12px;
  width: 18px;
  height: 18px;
  border: 1px solid #D7DBEC;
  border-radius: 4px;
  background-color: white;
  transition: background-color 2s;
}

.checklabel {
  margin-left: 15px;
  margin-top: 12px;
  height: 24px;
  display: flex;
  width: content-box;
}

.search {
  height: 46px;
  width: 350px;
  border-radius: 6px;
  border: 1px solid #D9E1EC;
  transition: 0.25s;
}

.search:hover {
  border: 1px solid #A1A7C4;
}

.search:focus-within {
  border: 1px solid #7E84A3;
}

.search input {
  margin-top: 12px;
  font-family: 'Inter', sans-serif;
  color: #5A607F;
  font-size: 16px;
  font-weight: 500;
  width: 288px;
  outline: none;
  border: none;
  background-color: transparent;
}

.search input::placeholder {
  color: #A1A7C4;
}

.search img {
  position: relative;
  top: 25%;
  transform: translateY(-50%);
  width: 17px;
  height: 17px;
  margin-left: 19px;
  margin-right: 12px;
}

table {
  margin-top: -2px;
  margin-left: -2px;
  font-family: 'Inter', sans-serif;
  width: calc(100% + 4px);
  border-spacing: 0;
  border-collapse: collapse;
  /*border: 1px solid #D7DBEC;*/
  /*border-radius: 20px;*/
}

thead {
  background-color: #F5F6FA;
}

th {
  font-family: 'Inter', sans-serif;
  /*width: calc(100% / 8);*/
  padding: 16px 0;
  color: #333752;
  font-size: 16px;
  font-weight: 500;
  outline: none;
  margin: 0;
}

table tr {
  border: 1px solid #D7DBEC;
}

.tablescroll {
  max-height: calc(100vh - 500px);
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  border-left: 1px solid #D7DBEC;
  border-right: 1px solid #D7DBEC
}

.tablescroll::-webkit-scrollbar {
  width: 8px;
}

.tablescroll::-webkit-scrollbar-track {
  margin: 5px;
}

.tablescroll::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgba(49, 58, 90, 0.1);
}

.headersPlaceholder th {
  border: 1px solid #D7DBEC;
}


table td {
  /*width: calc(100% / 8);*/
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  padding: 19px;
  color: #7E84A3;
  border: 1px solid #D7DBEC;
}

tbody tr:last-child {
  border-bottom: none;
}

tbody tr:last-child td {
  border-bottom: none;
}

tbody tr td:nth-child(2) {
  color: #1E5EFF;
  cursor: pointer;
}

.headersPlaceholder th {
  cursor: pointer;
}


.employeeCard {
  display: flex;
  margin-left: 35px;
  margin-top: 25px;
  min-height: 48px;
  margin-bottom: 25px;
}

.employeeCard div:nth-child(2) {
  display: table;
  margin: auto 0;
  font-weight: 500;
  font-size: 18px;
  color: #131523;
}

.employeeIcon {
  line-height: 48px;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  text-align: center;
  color: white;
  background-color: #A1A7C4;
  margin-right: 20px;
}
