<div class="datesSearch" style="" xmlns="http://www.w3.org/1999/html">
  <div style="display: flex; height: 48px">
    <input type="date" [disabled] = "filters.lastMonth" [(ngModel)]="filters.dateStart" (change)="ChangeClick()"/>
    <input type="date" [disabled] = "filters.lastMonth" [(ngModel)]="filters.dateEnd" (change)="ChangeClick()"/>
    <label class="checklabel">
      <input type="checkbox" style="display: none" [(ngModel)]="filters.lastMonth" (change)="ChangeClick()"/>
      <div></div>
      <span class="noselect">За предыдущий месяц</span></label>
    <label class="checklabel">
      <input type="checkbox" style="display: none" [(ngModel)]="filters.hideMarked" (change)="ChangeClick()"/>
      <div></div>
      <span class="noselect">Скрыть оценённые</span></label>
  </div>
</div>
<a class="back" routerLink="">К списку сотрудников</a>
<div
  style="
    margin-top: 22px;
    width: 100%;
    overflow: hidden;
    border: 1px solid #d7dbec;
    border-radius: 12px 12px 0 0;
    border-bottom: none;
  "
>
  <div class="employeeCard">
    <div style="display: flex">
      <div class="employeeIcon">И</div>
      <div class="employeeName">Иванов Иван Иванович</div>
    </div>
    <div style="margin-top: auto; margin-bottom: auto; color: #5A607F;font-weight: 500;">
      Выплат в ожидании <span class="redspan">7</span>
    </div>
  </div>
  <div class="tabs" style="margin-left: 35px">
    <button (click)="changetab(0)" [class]="getactivetab(0)">
      События<span class="redspan">6</span>
    </button>
    <button (click)="changetab(1)" [class]="getactivetab(1)">
      Проекты<span class="redspan">2</span>
    </button>
    <button (click)="changetab(2)" [class]="getactivetab(2)">Покупки</button>
    <button (click)="changetab(3)" [class]="getactivetab(3)">
      Отчёты<span class="redspan">1</span>
    </button>
    <button (click)="changetab(4)" [class]="getactivetab(4)">
      Сводка<span class="redspan">7</span>
    </button>
    <div
      class="tabsactive"
      [@tabsAnim]="{
        value: stateswap,
        params: { cur_width: curwidth, cur_margin_left: curmarginleft }
      }"
    ></div>
  </div>
  <!--Утвержденные выплаты-->
</div>
<div *ngIf="curtab == 0">
  <app-events-table [filter]="filter.asObservable()"></app-events-table>
</div>
<div *ngIf="curtab == 1">
  <app-projects-table></app-projects-table>
</div>
<div *ngIf="curtab == 2">
  <app-purchases-table></app-purchases-table>
</div>
<div *ngIf="curtab==3">
  <app-reports-table></app-reports-table>
</div>
<div *ngIf="curtab==4">
  <app-summary-table></app-summary-table>
</div>
