<div
  class="tablescroll">
  <table class="my_table">
    <thead class="t_header">
    <tr class="headersPlaceholder">
      <th class="noselect">ФИО</th>
      <th class="noselect">Отчёты</th>
      <th class="noselect">События</th>
      <th class="noselect">Проекты</th>
      <th class="noselect">Покупки</th>
      <th class="noselect">Сумма</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let v of Viplati">
      <td routerLink="/emp"><span class="greenspan">5</span> {{v.fio}}</td>
      <td>{{v.otcheti}}</td>
      <td>{{v.sobitia}}</td>
      <td>{{v.proecti}}</td>
      <td>{{v.pokupki}}</td>
      <td><span class="lightgreenspan">{{v.summa}}</span></td>
    </tr>
    </tbody>
    <thead class="t_footer">
    <tr style="border: 1px solid #d7dbec;">
      <th>Итого</th>
      <th>45 000 ₽</th>
      <th>28 000 ₽</th>
      <th>182 000 ₽</th>
      <th>10 000 ₽</th>
      <th>265 000 ₽</th>
    </tr>
    </thead>
  </table>
</div>
